div .card-pag {
  width: 20rem;
  height: 32rem;
  margin-right: 3.7rem;
  background-color: var(--grey-label);
  /*background-color: #ffffff10;
  backdrop-filter: blur(12px);*/
  color: white;
  border-radius: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  transition: all 800ms;
  box-shadow: 0 0 1em black;
}

div .card-pag-cliente {
  width: 20rem;
  margin-right: 3.7rem;
  background-color: var(--grey-label);
  /*background-color: #ffffff10;
  backdrop-filter: blur(12px);*/
  color: white;
  border-radius: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  transition: all 800ms;
  box-shadow: 0 0 1em black;
}

div .card-pag-prod {
  width: 20rem;
  margin-right: 3.7rem;
  background-color: var(--grey-label);
  /*background-color: #ffffff10;
  backdrop-filter: blur(12px);*/
  color: white;
  border-radius: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  transition: all 800ms;
  box-shadow: 0 0 1em black;
}

div .card-pag-serv{
  width: 20rem;
  margin-right: 3.7rem;
  background-color: var(--grey-label);
  /*background-color: #ffffff10;
  backdrop-filter: blur(12px);*/
  color: white;
  border-radius: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  transition: all 800ms;
  box-shadow: 0 0 1em black;
}

div .card-fale{
  width: 31rem;
  margin-right: 3.7rem;
  background-color: var(--grey-label);
  /*background-color: #ffffff10;
  backdrop-filter: blur(12px);*/
  color: white;
  border-radius: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  transition: all 800ms;
  box-shadow: 0 0 1em black;
}


.animate_card {
  animation: pulse 2s 1s;
}

div.content-card {
  width: 100%;
  padding: 20px;
}

div .card-pag:hover {
  box-shadow: 0 0 1em black;
}

div .card-pag img {
  width: 100%;
  height: 19rem;
  border-radius: 1rem 1rem 0 0;
}

div .card-pag-prod img {
  width: 100%;
  height: 19rem;
  border-radius: 1rem 1rem 0 0;
}

div .card-pag-serv img {
  width: 100%;
  height: 19rem;
  border-radius: 1rem 1rem 0 0;
}

.content-card-content {
  flex-wrap: wrap;
}

.botao-excluir {
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  background-color: var(--wine);
}

.botao-excluir:hover {
  filter: brightness(1.5);
  cursor: pointer;
}

.botao-excluir-pag {
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  background-color: var(--wine);
}

.botao-excluir-pag:hover {
  filter: brightness(1.5);
  cursor: pointer;
}
